{% extends 'base.html.twig' %}

{% block body %}
    
    <div id ="default">
    <h1>Change password</h1>
        {{ form_start(form) }}
        <label>Old password:</label> {{ form_widget(form.password) }}<br/>
        <label>New password:</label>  {{ form_widget(form.plainPassword.first) }}<br/>
        <label>Repeat new password:</label>  {{ form_widget(form.plainPassword.second) }}<br/>
        {{ form_widget(form.submit,{'attr':{'style':'width: 60.3%','class':'btn btn-primary'}}) }}<br/>
        {{ form_end(form) }}
        <a  href="{{ path('profile_index') }}">Back to profile</a>
    </div>
    


{% endblock %}
