{% extends 'base.html.twig' %}

{% block body %}
    <h1>Profile</h1>
    <div id="default">
        Company name: {{ app.user.companyName  }}<br/>
        Company e-mail: {{ app.user.email  }}<br/>
        Company phone: {{ app.user.companyName  }}<br/>
        Company address: {{ app.user.adress  }}<br/>
    <br/>
    <br/>
            <h2>Client list</h2>
            <table align="center">
                <tr style="border-bottom: 3px solid #ddd;">
                    <th width="80px">User ID</th>
                    <th></th>
                    <th width="120px">Username</th>
                    <th></th>
                    <th width="200px">Email</th>
                    <th></th>
                    <th width="200px">Phone Number</th>
                </tr>
                {% for user in users %}
                        <tr>
                            <td>{{ user.id }}</td>
                            <td></td>
                            <td>{{ user.firstName }}</td>
                            <td></td>
                            <td>{{ user.email}}</td>
                            <td></td>
                            <td>{{ user.phoneNumber }}</td>
                        </tr>
                {% endfor %}
            </table>
    </div>

{% endblock %}