{% extends 'base.html.twig' %}

{% block body %}
    <h1>Edit Profile</h1>
    <div id ="user">
        {{ form_start(form) }}
        <label>First name:</label> {{ form_widget(form.firstname, {'value' : app.user.firstName }) }}<br/>
        <label>Last name:</label>  {{ form_widget(form.lastname, {'value' : app.user.lastName }) }}<br/>
        <label>Email:</label>  {{ form_widget(form.email, {'value' : app.user.email }) }}<br/>
        <label>PhoneNumber:</label>  {{ form_widget(form.phoneNumber, {'value' : app.user.phoneNumber }) }}<br/>
        {{ form_widget(form.submit, { 'label': 'Edit' }) }}
    </div>
    {{ form_end(form) }}

    <a href="{{ path('profile_index') }}">Back to list</a>

    {% endblock %}