{% extends 'base.html.twig' %}

{% block body %}
    
    <div id ="default">
    <h2>Edit Car</h2>
        {{ form_start(form) }}
        <label>Car ID:</label> {{ form_widget(form.carId) }}<br/>
        <label>Maker:</label>  {{ form_widget(form.maker,{'attr':{'style' : 'width: 60.3%'}}) }}<br/>
        <label>Model:</label>  {{ form_widget(form.model) }}<br/>
        <label>Car year:</label>  {{ form_widget(form.carYear,{'attr':{'style' : 'width: 60.3%'}}) }}<br/>
        <label>Transmission:</label>  {{ form_widget(form.transmission,{'attr':{'style' : 'width: 60.3%'}}) }}<br/>
        <label>Engine volume:</label>  {{ form_widget(form.engineVolume) }}<br/>
        <label>Comment</label>{{ form_widget(form.comment) }}
        <br>
    <button style="width: 200px;" class="btn btn-primary">Edit</button>
    <br>
    <a href="{{ path('profile_index') }}">Back to list</a>
    </div>
        
        {{ form_end(form) }}

    

{% endblock %}