{% extends 'base.html.twig' %}

{% block title %}Profile index{% endblock %}

{% block body %}
    <h1>User Profile</h1>
    <div id = "profile">
        First name: {{ app.user.firstName  }}<br/>
        Last name: {{ app.user.lastName }}<br/>
        Email: {{ app.user.email }} <br/>
        Phone number: {{ app.user.phoneNumber }}<br/>

        <a href="{{ path('profile_edit', {'id': app.user.id}) }}">{{ 'Edit profile' }}</a><br/>
        <br/>
    </div>

{% endblock %}