{% extends 'base.html.twig' %}

{% block body %}
    <h3>User Profile</h3>
    <div id = "user">
        <b>First name:</b> {{ app.user.firstName  }}<br/>
        <b>Last name:</b> {{ app.user.lastName }}<br/>
        <b>Email:</b> {{ app.user.email }} <br/>
        <b>Phone number:</b> {{ app.user.phoneNumber }}<br/>
        <button type="button" id="Edit-profile" onclick="location.href = '{{ path('profile_edit', {id: app.user.id}) }}'" >Edit profile</button>
        <br/>
        <br/>
        <br/>
        <button type="button" id="Edit-profile" onclick="location.href = '{{ path('CarRegistration') }}'" >Add your car</button>
        <br/>
        <br/>
        <b>Your owned car list:</b>
        <table class="table">
            <tr>
                <th scope="col">Car ID</th>
                <th scope="col">Maker</th>
                <th scope="col">Model</th>
                <th scope="col">Car year</th>
                <th scope="col">Transmission</th>
                <th scope="col">Engine volume</th>
                <th scope="col">Status</th>
            </tr>
            </thead>
            <tbody>
            {% for car in cars %}
                <tr>
                    <td>{{ car.carId }}</td>
                    <td>{{ car.maker}}</td>
                    <td>{{ car.model}}</td>
                    <td>{{ car.carYear}}</td>
                    <td>{{ car.transmission}}</td>
                    <td>{{ car.engineVolume}}</td>
                    {% if car.orders %}
                        <td>{{  car.orders.status}}</td>
                        {% else %}
                        <td>Not registered</td>
                    {% endif %}
                    
                    <td style="text-align: right">
                    {% if car.orders %}
                        {% if car.orders != "Dismissed" %}
                            <button type="button" id="Service-car" disabled onclick="location.href = '{{ path('carServices', {id: car.carId}) }}'" >Services</button>
                            {% else %}
                            <button type="button" id="Service-car" onclick="location.href = '{{ path('carServices', {id: car.carId}) }}'" >Services</button>
                        {% endif %}
                        {% else %}
                            <button type="button" id="Service-car" onclick="location.href = '{{ path('carServices', {id: car.carId}) }}'" >Services</button>
                    {% endif %}
                    
                        <button type="button" id="Edit-car" onclick="location.href = '{{ path('editCar', {id: car.carId}) }}'" >Edit</button>
                        <button type="button" id="Delete-car" onclick="location.href = '{{ path('deleteCar', {id: car.carId}) }}'" >Delete</button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <br/>
    </div>
{% endblock %}