<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
</head>
<body>

<header>
    <nav>
        <div class="main-wrapper">
            <ul>
                <li><a href="{{ path('homepage') }}">Home</a></li>
            </ul>
            <div class="nav-login">
                {% if app.session.get('u_id') %}
                {{ 'logout button' }}
                {% else %}
                {{ 'include login somtheing' }}
                <input type="text" name="uid" placeholder="Username/email">
                <input type="password" name="pwd" placeholder="Password">
                <button type="submit" name="submit">Login</button>
                {% endif %}

                </form>
                <a href="{{ path('signup') }}">Sign up</a>
            </div>
        </div>
    </nav>
</header>