{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        
            {% if (is_granted('ROLE_COMPANY')) == true %}
            <div style="text-align:center;"><h1> Job details </h1> </div>
            <div style="height: 50px;"> </div>
                <div class="row">
                <div class="col-4">
                
                <table class="table">
                <thead>
                    <div style="text-align: center;"><h5> Client information </h5> </div>

                </thead>
                <tbody>
                            <tr class="table-light">
                            <th> Full name </th>
                            <td>{{order.car.user.firstname}} {{order.car.user.lastname}} </td>
                            </tr>
                            <tr class="table-light">
                            <th> Email </th>
                            <td>{{order.car.user.email}}</td>
                            </tr>
                            <tr class="table-light">
                            <th> Phone Number </th>
                            <td>{{order.car.user.phoneNumber}}</td>
                            </tr>
                            <tr class="table-light">
                                <th> Visit time </th>
                                <td>{{order.startDate|date('Y-m-d h:m')}}</td>
                            </tr>
                            
                </tbody>
                </table>
                
                </div>
                <div class="col-4">
                <table class="table">
                <thead>
                    <div style="text-align: center;"><h5> Car information </h5> </div>

                </thead>
                <tbody>
                            <tr class="table-light">
                            <th> Car ID </th>
                            <td>{{order.car.carId}}</td>
                            </tr>
                            <tr class="table-light">
                            <th> Manufacturer </th>
                            <td>{{order.car.maker}}</td>
                            </tr>
                            <tr class="table-light">
                            <th> Model </th>
                            <td>{{order.car.model}}</td>
                            </tr>
                            <tr class="table-light">
                            <th> Years </th>
                            <td>{{order.car.carYear}}</td>
                            </tr>
                            <tr class="table-light">
                            <th> Transmission </th>
                            <td>{{order.car.transmission}}</td>
                            </tr>
                            <tr class="table-light">
                            <th> Engine Volume </th>
                            <td>{{order.car.engineVolume}}</td>
                            </tr>
                            
                </tbody>
                </table>
                </div>
                <div class="col-4">
                
                <table class="table">
                <thead>
                    <div style="text-align: center;"><h5> Problem </h5> </div>

                </thead>
                <tbody>
                            <tr class="table-light">
                            <th> Category </th>
                            <td>{{order.car.serviceCategory}}</td>
                            </tr>
                            <tr class="table-light">
                            <th> Service </th>
                            <td>{{order.car.serviceName}}</td>
                            </tr>
                            <tr class="table-light">
                            <th> Description </th>
                            <td>{{order.car.comment}}</td>
                            </tr>
                            
                </tbody>
                </table>

                </div>
                </div>
            </div>
            <div style="height: 30px;"></div>
            {% if order.status == "Waiting" %}
            <div class="row">
                <div class="col-4"></div>
                <div class="col-2" style="text-align: center;">
                <button type="button" class="btn btn-success" onclick="location.href = '{{ path('orderAccept', {id: order.id}) }}'">Accept</button>
                </div>
                <div class="col-2" style="text-align: center;">
                <button type="button" class="btn btn-danger" onclick="location.href = '{{ path('orderDeny', {id: order.id}) }}'" >Dismiss</button>
                </div>
                <div class="col-4"></div>
            </div>
            <div style="height: 50px;"></div>
            {% elseif order.status == "Accepted" %}
                <div class="row">
                <div class="col-4"></div>
                <div class="col-4" style="text-align: center;">
                <button type="button" class="btn btn-success" onclick="location.href = '{{ path('orderFinish', {id: order.id}) }}'" >Finish</button>
                </div>
                
                <div class="col-4"></div>
            </div>
            <div style="height: 50px;"></div>
            {% endif %}
            {% endif %}

    
    </div>
{% endblock %}
