{% extends "base.html.twig" %}
{% block body %}
        <h2>Reset password</h2>
    <div id="default">
        {{ form_start(form) }}
        {% if action == "reset" %}
            Email: {{ form_widget(form.email) }}<br />
            {{ form_widget(form.submit,{'attr':{'style':'width: 60.3%','class':'btn btn-primary'}}) }}<br/>
        {% else %}
            New password: {{ form_widget(form.plainPassword.first) }}<br />
            Repeat new password: {{ form_widget(form.plainPassword.second) }}<br />
        {% endif %}
        {{ form_start(form) }}
        {{ form(form, {'method': 'POST'}) }}
        <a style="position: absolute;left: 2%" href = "{{ path('login') }}">Back to login page</a>
    </div>
{% endblock %}