{% extends "base.html.twig" %}
{% block body %}
        <h1>Reset password</h1>
        {{ form_start(form) }}
        {% if action == "reset" %}
            Email: {{ form_widget(form.email) }}<br />
        {% else %}
            New password: {{ form_widget(form.plainPassword.first) }}<br />
            Repeat new password: {{ form_widget(form.plainPassword.second) }}<br />
        {% endif %}

    {{ form_start(form) }}
    {{ form(form, {'method': 'POST'}) }}

        <a href = "{{ path('login') }}">Back to login page</a>
    </div>
{% endblock %}