{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
    <h1 style="text-align: center"> My services </h1>
    <br>
    <button style="float: right; margin-right: 50px; margin-bottom: 10px;" onclick="location.href = '{{ path('registerService') }}'" type="button" class="btn btn-primary">New service</button>
    
    <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Pavadinimas</th>
      <th scope="col">Kategorija</th>
      <th> </th>
    </tr>
  </thead>
  <tbody>
         {% set i = 0 %}
        {% for service in services %}
            <tr>
                <th scope="row">{{i + 1}}</th>
                <td>{{service.serviceName}}</td>
                <td>{{service.serviceCategory}} </td>
                <td style="text-align: right"> 
                <button type="button" class="btn btn-warning" onclick="location.href = '{{ path('editService', {id: service.id}) }}'" >Edit</button>
                <button type="button" class="btn btn-danger" onclick="location.href = '{{ path('deleteService', {id: service.id}) }}'">Delete</button>
                </td>
                
                {% set i = i + 1 %}
            </tr>
            
        {% endfor %}
  </tbody>
</table>
        
    </div>
{% endblock %}